/* style for visavail.js */
.piling_data {
    /* blocks that have awake data */
    fill: #0288d1;
}

.pilecaps_data {
    /* blocks that have restless data */
    fill: #4caf50;
}

.piers_data {
    /* blocks that have light sleep data */
    fill: #e35757;
}

.pierhead_data {
    /* blocks that have normal sleep data */
    fill: #ff0;
}

.bearing_data {
    /* blocks that have rem sleep data */
    fill: #569BB2;
}

.deck_launching_data {
    /* blocks that have deep sleep data */
    fill: #221D63;
}

.parapet_data {
    /* blocks that have deep sleep data */
    fill: #ff8681;
}

.piling_data:hover {
    fill: #FFBA60;
}

.pilecaps_data:hover {
    fill: #EA861E;
}

.piers_data:hover {
    fill: #398197;
}

.pierhead_data:hover {
    fill: #005B84;
}

.bearing_data:hover {
    fill: #003462;
}

.deck_launching_data:hover {
    fill: #00084B;
}

.parapet_data:hover {
    fill: #ccc;
}

.piling_tooltip {
    /* color of symbol in tooltips that have awake data */
    color: #FFD67A;
}

.pilecaps_tooltip {
    /* color of symbol in tooltips that have awake data */
    color: #FFA13B;
}

.piers_tooltip {
    /* color of symbol in tooltips that have light sleep data */
    color: #569BB2;
}

.pierhead_tooltip {
    /* color of symbol in tooltips that have normal sleep data */
    color: #2F739E;
}

.bearing_tooltip {
    /* color of symbol in tooltips that have rem sleep data */
    color: #274A7B;
}

.deck_launching_tooltip {
    /* color of symbol in tooltips that have deep sleep data */
    color: #221D63;
}

.parapet_tooltip {
    /* color of symbol in tooltips that have deep sleep data */
    color: #ccc;
}

/* style for visavail.js */
.rect_has_data {
    /* blocks that have data */
    fill: #5cb85c;
}

.rect_has_data:hover {
    fill: #449d44
}

.rect_has_no_data {
    /* blocks without data */
    fill: #d9534d;
}

.rect_has_no_data:hover {
    fill: #c9302c;
}

.tooltip_has_data {
    /* color of symbol in tooltip if there is data */
    color: #449d44;
}

.tooltip_has_no_data {
    /* color of symbol in tooltip if there is no data */
    color: #c9302c;
}


div.tooltip {
    position: absolute;
    text-align: left;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    padding-left: 0;
    width: auto;
    border: 0;
    border-left: thin solid #000000;
    pointer-events: none;
    line-height: 12px;
    padding-top: 0;
    display: block;
}



.x_tick_emph {
    font-weight: bold;
}

.ytitle {
    /* y axis labels */
    dominant-baseline: middle;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
}

.ytitle.link {
    /* y axis label with link */
    cursor: pointer;
    fill: #07C;
}

.axis path,
.axis line {
    display: none;
}

.axis text {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.vert_grid {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1px;
}

.vert_grid_emph {
    fill: none;
    stroke: #dddddd;
    stroke-width: 2px;
}

.horz_grid {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1px;
}

.heading {
    font-size: 16px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
}

.subheading {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.legend {
    dominant-baseline: middle;
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.x_tick_emph text{
    fill: #0b42cc;
}